.Hero {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  background: var(--black-color);
}
.HeroTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  font-weight: 600;
  margin: 20px;
}
.HeroTitle > h1 {
  /* height: 48px; */
  font-size: 42px;
  color: var(--white-color);
}
.HeroImage {
  height: 212px;
  width: 212px;
}
